<div>
  <hr>
  <p>
    <%=event.id  %>:
    <%= event.description %>
    <%  %>
  </p>
  <p>
    Created by <%= event_creator(event)%>
  </p>
  <%= link_to 'Show', event %>
  <% if others_event?(event) && !attending?(event)%>
    <%= link_to 'Attend',tickets_path(id: event.id), method: :post %>
  <% end %>
  <% if attending?(event) %>
    <br>
    You are attending.
    <p>
      <%= link_to 'Cancel attending this event.',tickets_path(id: event.id), method: :post %>
    </p>
  <% end %>
  <hr>
</div>
