<div>
  <hr>
  <p>
    <%=event.id  %>:
    <%= event.description %>
    <%  %>
  </p>
  <p>
    Created by <%= event_creator(event)%>
  </p>
  <%= link_to 'show', event %>
  <% if others_event?(event) && !attending?(event)%>
    <%= link_to 'attend',tickets_path(id: event.id), method: :post %>
  <% end %>
  <hr>
</div>
